*.jar
*.log
*.log.gz
*.json
*.dat
HeartStrike/
libraries/*
cache/*

plugins/Citizens/lib/
plugins/Citizens/shops.yml

plugins/DiSky/

plugins/FastAsyncWorldEdit/

plugins/FreedomChat/

plugins/LibsDisguises/Translations/
plugins/LibsDisguises/mappings_cache

plugins/LuckPerms/

plugins/MMSkript-Addon/

plugins/MythicMobs/DropTables/
plugins/MythicMobs/Items/
plugins/MythicMobs/Packs/
plugins/MythicMobs/Players/

plugins/ProtocolLib/

plugins/SkBee/bounds.yml
plugins/SkBee/config.yml

plugins/Skript/backups/
plugins/Skript/lang/
plugins/Skript/variables.csv
plugins/Skript/scripts/player/chat-definebot.sk

plugins/SkinsRestorer/
plugins/update/
plugins/ViaBackwards/
plugins/ViaVersion/

plugins/WorldGuard/cache/